# --- Python y Compilación ---
__pycache__/
*.py[cod]
*$py.class

# --- Entornos Virtuales ---
venv/
env/
.env

# --- PyInstaller (Generado por build.py) ---
build/
dist/
*.spec

# --- Inno Setup (Generado por create_installer.py) ---
Output/
*.iss

# --- Bases de Datos y Estado Local (¡SEGURIDAD!) ---
*.db
*.sqlite
*.sqlite3
/data/

# --- IDEs y Sistema Operativo ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Logs y Errores ---
*.log

# --- Anotaciones Personales ---
MEJORAS.txt